:root {
    --primary-font-color: aliceblue;
    --primary-background: rgb(71, 71, 71);
    --secondary-background: rgb(155, 201, 181);
}

* {
    background: var(--secondary-background);
}

h1 {
    display: flex;
    justify-content: center;
    background: var(--primary-background);
    padding: 10px;
    margin-top: 0px;
    color: var(--primary-font-color);
}
h2{
    font-size: 20px;
}
#start {
    display: flex;
    justify-content: center;
}

#start-btn {
    width: 75px;
    height: 50px;
    font-size: 25px;
    background-color: var(--primary-background);
}

#timer {
    position: fixed;
    right: 0;
    text-align: center;
    font-size: 25px;
    width: fit-content;
}

.btn {
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    margin: 10px;
}

#next {
    display: flex;
    justify-content: center;
}

#nextBtn {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    background-color: var(--primary-background);
    color: var(--primary-font-color);
}

#retryBtn {
    width: 85px;
    height: 50px;
    font-size: 25px;
    background-color: var(--primary-background);
    color: var(--primary-font-color);
}
@media screen and (max-width: 600px) {
 #timer{
    font-size: 15px;
    width: 25%;
 }   
 .btn{
    font-size: 20px;
 }
 #nextBtn{
    font-size: 20px;
 }
h2{
    font-size: 15px;
    width: 50%;
}
}